* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html {
	font-size: 62.5%;
}

a,
h1,
h2,
p {
	text-decoration: none;
	color: #181925;
	font-family: 'Roboto', sans-serif;
}

nav {
	display: flex;
}

/* header area */
.logo-container {
	margin: 3vh 0 3vh 2vw;
}

.logo-container h2 {
	font-size: 3rem;
	color: #fff;
	font-family: 'Assistant', sans-serif;
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 70%;
	margin: 3vh 0 3vh 0;
}

.nav-links a,
.interactions a {
	font-size: 2rem;
	padding: 1.5rem;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	display: flex;
}

.nav-links a:hover {
	color: #ff9633;
}

.interactions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
}

.signup-link,
.signin-link {
	border: #fff solid 2px;
	border-radius: 10px;
	margin-right: 2rem;
}

.signup-link:hover,
.signin-link:hover {
	background: #ff9633;
	color: #fff;
}

.nav-links-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2vh 0 2vh 0;
	width: 100%;
}

.hero-background {
	background: url(/img/pexels-karolina-grabowska-4199098.jpg);
	background-position: center;
}
.darken {
	background: #1819258e;
}

/* Mission Statement Area */
.mission-statement {
	height: 45vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mission-statement h1 {
	font-size: 6.5rem;
	font-family: 'Assistant', sans-serif;
	color: #ffffff;
}

.mission-statement p {
	font-size: 2.5rem;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	margin-top: 2vh;
}

/* Team Area */

.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
	margin: 5vh 0 5vh 0;
}

.team-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3vh;
	background: #087f8c;
}

.team-title h2 {
	font-size: 4rem;
	font-family: 'Assistant', sans-serif;
	color: #ffffff;
}

.team-container img {
	height: 200px;
	width: auto;
	border-radius: 50%;
	margin-bottom: 1vh;
}

.team-container h3 {
	font-size: 2.8rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

.team-container p {
	font-size: 1.6rem;
}

.team-container span {
	margin-left: 1.2rem;
}

/* footer */
.nav-links-footer li {
	padding: 1rem;
}

.nav-links-footer a {
	color: #fff;
	font-size: 1.5rem;
}

footer {
	display: flex;
	flex-direction: column;
	background-color: #ff9633;
}
.copy-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 2vh;
}

.copy-div p {
	color: #fff;
	font-size: 1.2rem;
}
